<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<body>
  <nav class='container' role='navigation'>
    <div class='navbar-header'>
      <a href='index.html' class='navbar-brand'>Welcome to MMK's blog</a>

      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
      <li><a><%= select_tag(:changeLang, options_for_select([['English', 'en'], ['Chinese', 'zh'], ['Japanese', 'ja']], :selected => @lang)) %></a></li>
      <li><a href='#'>Tech blog</a></li>
      <li><a href='#'>My compositions</a></li>
      <li class='dropdown'>
        <a href='/about' data-target='#' class='dropdown-toggle' data-toggle='dropdown'>About <span class='caret'></span></a>
        <ul class='dropdown-menu' role='menu'>
          <li><a href='https://github.com/Adagio-cantabile'>Github</a></li>
          <li><a href='https://www.facebook.com/profile.php?id=100008885831343'>Facebook</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <% @articles.each do |article| %>
  <div class="container-fluid" style="width:85%">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3 class="panel-title"><%= article.title %></h3>
      </div>
      <div class="panel-body">
	<%= article.text %>
      </div>
      <span class="label label-primary">article.tag</span>
    </div>
  </div>
  <% end %>
<script>
jQuery("#changeLang").on('change', function() {
 window.location = '/home/index?lang=' + jQuery("#changeLang").val();
});
</script>
</body>
