<% if @access_token %>
<h4>Got access token: <%= @access_token %></h4>
<% else %>
<a class="btn btn-primary" href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9ZL0ppGP5UrDJTwC3UbTrYqoQBMyVEH14jM082IPttbItgB2ntdviAEtf2E_3zhqtsKON4PKCOofcV_oO&redirect_uri=https://localhost:3000/salesforce_api/callback">Connent to Team Spirit</a>
<% end %>

